html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  background-color: #fff;
  font-family: "SF UI Text", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

.main__section {
  padding: 70px 0;
}

.header {
  padding: 30px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1130px;
  margin: 0 auto;
}

.header__logo {
  height: 40px;
}

.navigation {
  font-weight: 400;
}

.navigation__list {
  display: flex;
}

.navigation__item {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child):after {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  margin: 0 25px;
  background-color: #c9c9c9;
}

.btn {
  padding: 18px 23px;
  color: #fff;
  background-color: #0071e3;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.offer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 820px;
  margin: 0 -30px;
  padding: 30px;
  background-image: -webkit-image-set(
    url("../img/phones-2x.webp") 2x,
    url("../img/phones.webp") 1x
  );
  background-image: image-set(
    url("../img/phones-2x.webp") type("image/webp") 2x,
    url("../img/phones.webp") type("image/webp") 1x
  );
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1290px;
}

.offer__main-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.offer__title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
}

.offer__price {
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
}

.features__title {
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
}

.features__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px 30px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 410px;
  text-align: center;
}

.card__picture {
  margin-bottom: 35px;
  border-radius: 34px;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.06);
}

.card__title {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.card__description {
  max-width: 300px;
  font-size: 22px;
  line-height: 26px;
}

.order__title {
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 30px;
  margin-bottom: 90px;
}

.form__box {
  width: 630px;
  padding: 70px 80px 100px;
  border: 1px solid #c9c9c9;
  border-radius: 34px;
}

.form__title-box {
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #c9c9c9;
}

.form__label {
  display: block;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 16px;
}

.form__input {
  display: block;
  width: 100%;
  height: 90px;
  margin-bottom: 50px;
  padding: 0 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.form__input:last-child {
  margin-bottom: 0;
}

.form__submit {
  display: block;
  margin: 0 auto;
}

/* Стилизация чекбоксов */

.checkbox {
  position: relative;
  display: block;
  margin-bottom: 26px;
  padding-left: 70px;
  font-weight: 400;
  line-height: 40px;
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__input:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.checkbox__input:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 11px;
  display: block;
  width: 17px;
  height: 8px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 0.2s;
}

.checkbox__input:checked:after {
  opacity: 1;
}

.checkbox__input:focus:before,
.checkbox__input:hover:not(:disabled):before {
  box-shadow: 0px 0px 10px rgba(0, 113, 227, 0.5);
}

.checkbox__input:disabled:before {
  background-color: #c9c9c9;
}

/*Стилизация списков*/

.choices {
  height: 90px;
}

.choices__inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  font-size: 24px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.is-open .choices__inner {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.is-open .choices__list--dropdown {
  border-top: 0px;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.choices[data-type*="select-one"]:after {
  z-index: 1;
  height: 9px;
  width: 9px;
  margin-top: -15px;
  margin-right: 55px;
  border-color: transparent transparent #000000 #000000;
  border-width: 9px;
  transform: rotate(-45deg);
  transition: border-color 0.2s ease-in-out, margin-top 0.2s ease-in-out;
}

.choices[data-type*="select-one"].is-open:after {
  border-color: #000000 #000000 transparent transparent;
}

.choices__list--dropdown .choices__item {
  padding: 20px 15px;
  font-size: 16px;
}

.choices__list--dropdown {
  z-index: 10;
  margin-top: -5px;
}

@media (max-width: 800px) {
  .navigation {
    font-size: 16px;
    line-height: 24px;
  }

  .navigation__list {
    display: block;
  }

  .navigation__item:not(:last-child) {
    margin-bottom: 5px;
  }

  .navigation__item:not(:last-child):after {
    content: "";
    display: none;
  }

  .btn {
    font-size: 18px;
  }

  .offer__container {
    min-height: 720px;
    background-image: -webkit-image-set(
      url("../img/phones-800-2x.webp") 2x,
      url("../img/phones-800.webp") 1x
    );
    background-image: image-set(
      url("../img/phones-800-2x.webp") type("image/webp") 2x,
      url("../img/phones-800.webp") type("image/webp") 1x
    );
    background-size: 800px;
  }

  .offer__main-title {
    font-size: 18px;
  }

  .offer__title {
    font-size: 26px;
  }

  .offer__price {
    font-size: 18px;
  }

  .features__title {
    font-size: 26px;
  }

  .form__box {
    width: 100%;
    padding: 40px 30px 80px;
  }

  .form__title-box {
    font-size: 28px;
    line-height: 1;
  }

  .form__input {
    height: 60px;
  }

  .choices {
    height: 60px;
  }

  .choices[data-type*="select-one"]:after {
    height: 6px;
    width: 6px;
    margin-top: -9px;
    margin-right: 20px;
    border-width: 6px;
  }

  .choices__inner {
    padding: 10px;
    font-size: 16px;
  }
}

@media (max-width: 440px) {
  .offer__container {
    background-image: -webkit-image-set(
      url("../img/phones-mob-2x.webp") 2x,
      url("../img/phones-mob.webp") 1x
    );
    background-image: image-set(
      url("../img/phones-mob-2x.webp") type("image/webp") 2x,
      url("../img/phones-mob.webp") type("image/webp") 1x
    );
    background-size: 400px;
  }

  .card__title {
    font-size: 16px;
  }

  .card__description {
    font-size: 18px;
  }
}

/* Медиа для retina дисплея */

/* @media (min-resolution: 2dppx) {
  .offer__container {
    background-image: url(../img/phones-2x.jpg);
  }
}

@media (min-resolution: 2dppx) and (max-width: 800px) {
  .offer__container {
    background-image: url(../img/phones-800-2x.jpg);
  }
}

@media (min-resolution: 2dppx) and (max-width: 440px) {
  .offer__container {
    background-image: url(../img/phones-mob-2x.jpg);
  }
} */
